<section class="how-it-works">
    <div class="how-it-works__inner page-width page-width-desktop center">
        <div class="how-it-works__title-wrapper">
           {% if section.settings.title != "" %}
            <h3 class="how-it-works__title h1">{{ section.settings.title }}</h3>
           {% endif %}
           {% if section.settings.description != "" %}
            <p class="how-it-works__description">{{ section.settings.description }}</p>
           {% endif %}
        </div>
        <div class="how-it-works__wrapper how-it-works__wrapper--{{section.id}} how-it-works__wrapper--{{section.settings.step_type}} left">
            {% for block in section.blocks %}
                <div class="how-it-works__step-wrapper">
                    <div class="how-it-works__step-image">
                        <img src="{{ block.settings.image | image_url: width: 1500 }}" alt="{{ block.settings.image.alt }}">
                    </div>
                    <div class="how-it-works__step-content">
                        <div class="how-it-works__step-label">
                            {% if section.settings.step_type == "svg" %}
                                <svg width="28" height="27" viewBox="0 0 28 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <mask id="mask0_5247_6122" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="1" y="1" width="26" height="25">
                                    <path d="M14.166 24.75C15.6437 24.7519 17.1071 24.4618 18.4723 23.8963C19.8375 23.3308 21.0774 22.5011 22.1209 21.4549C23.1671 20.4114 23.9968 19.1715 24.5623 17.8063C25.1278 16.4411 25.4179 14.9777 25.416 13.5C25.4179 12.0224 25.1278 10.5589 24.5623 9.19375C23.9968 7.82859 23.1671 6.58863 22.1209 5.54513C21.0774 4.4989 19.8375 3.6692 18.4723 3.10371C17.1071 2.53822 15.6437 2.24809 14.166 2.25001C12.6884 2.24813 11.2249 2.53826 9.85977 3.10375C8.4946 3.66924 7.25465 4.49892 6.21115 5.54513C5.16494 6.58863 4.33525 7.82859 3.76977 9.19375C3.20428 10.5589 2.91414 12.0224 2.91603 13.5C2.91411 14.9777 3.20423 16.4411 3.76972 17.8063C4.33521 19.1715 5.16492 20.4114 6.21115 21.4549C7.25465 22.5011 8.4946 23.3308 9.85977 23.8963C11.2249 24.4618 12.6884 24.7519 14.166 24.75Z" fill="#555555" stroke="white" stroke-width="2" stroke-linejoin="round"/>
                                    <path d="M9.66602 13.5L13.041 16.875L19.791 10.125" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </mask>
                                    <g mask="url(#mask0_5247_6122)">
                                    <path d="M0.666016 0H27.666V27H0.666016V0Z" fill="#F15614"/>
                                    </g>
                                </svg>
                            {% else %}
                                <div class="how-it-works__step-number">{{ forloop.index }}</div>                                      
                            {% endif %}
                        </div>
                        <div class="how-it-works__step-title">{{block.settings.title}}</div>
                        <p>{{ block.settings.description }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
       {% if section.settings.btn_url and section.settings.btn_text != "" %}
        <a href="{{ section.settings.btn_url }}" class="how-it-works__btn button">{{ section.settings.btn_text }}</a>      
       {% endif %}
    </div>
</section>

{%- comment -%} <script>
    new Swiper('.how-it-works__wrapper--{{section.id}}', {
        slidesPerView: 1.1,
        centeredSlides: true,
        spaceBetween: 20,
        breakpoints: {
            750:{
                slidesPerView: 3
            }
        }
    })
</script> {%- endcomment -%}

<style>
    .how-it-works{
        padding: 40px 0;
        background: #D8D2C5;
    }

    .how-it-works__title{
        margin-bottom: 0;
        margin-top: 0;
    }

    .how-it-works__wrapper{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        margin-top: 35px;
        margin-bottom: 35px;
    }

    .how-it-works .how-it-works__step-image{
        width: 100%;
        padding-bottom: 60%;
        height: 0;
        position: relative;
    }

    .how-it-works__step-image img{
        height: 100%;
        width: 100%;
        object-position: center;
        position: absolute;
        top: 0;
        left: 0;
    }

    .how-it-works__step-content{
        padding: 20px 50px 0;
        position: relative;
    }

    .how-it-works__wrapper--number .how-it-works__step-content{
        padding-left: 65px;
    }

    .how-it-works__step-label{
        position: absolute;
        top: 21px;
        left: 25px;
        transform: translateX(-50%);
    }

    .how-it-works__step-content .how-it-works__step-title{
        margin: 0 0 10px 0;
        font-size: 20px;
        font-weight: 500;
    }

    .how-it-works__step-content .how-it-works__step-title p{
        font-size: 20px;
        font-weight: 500;
        margin: 0;
    }
    
    .how-it-works__description{
        margin: 0;
    }

    .how-it-works__step-content p,
    .how-it-works__description{
        font-size: 16px;
    }

    .how-it-works__btn{
        margin: 0 auto;
    }

    .how-it-works__step-number{
        background: #F15614;
        color: white;
        font-size: 20px;
        padding: 5px 10px;
        min-width: 45px;
        flex-shrink: 0;
        line-height: 1;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
    }

    .how-it-works .swiper-pagination-bullet{
        height: 8px;
        width: 8px;
        background-color: white;
        opacity: 1;
    }

    .how-it-works .swiper-pagination-bullet-active{
        background: #969288;
    }

    @media (max-width: 768px){
        .how-it-works__wrapper{
            margin: auto 30px;
            grid-template-columns: repeat(1, 1fr);
        }

        .how-it-works__title{
            margin-bottom: 20px;
        }
    }
</style>


{%- schema -%}
{
    "name": "How it works",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Title"
        },
        {
            "type": "textarea",
            "id": "description",
            "label": "Description"
        },
        {
            "type": "text",
            "id": "btn_text",
            "label": "Button Text"
        },
        {
            "type": "url",
            "id": "btn_url",
            "label": "Button URL"
        },
        {
            "type": "select",
            "id": "step_type",
            "label": "Step Type",
            "options": [
                {
                    "label": "SVG",
                    "value": "svg"
                },
                {
                    "label": "Number",
                    "value": "number"
                }
            ]
        }
    ],
    "blocks": [
        {
            "type": "step",
            "name": "Step",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image"
                },
                {
                    "type": "richtext",
                    "id": "title",
                    "label": "Title"
                },
                {
                    "type": "textarea",
                    "id": "description",
                    "label": "Description"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "How it works"
        }
    ]
}
{%- endschema -%}